<div class="col-sm-4">
  <div class="feedback-box">
    Rating: {{displayStarRating}}
    <br>
    On {{feedback.time}}, {{feedback.username}} wrote:
    <br>
    {{feedback.comment}}
  </div>
</div>
