{{#link-to 'item' item.id}}
<div class="col-sm-4">
  <div class="item-tile-box">
    <img src={{item.image}}>
    <br>
    {{item.name}}
    <br>
    ${{item.price}}
    <br>
  </div>
</div>
{{/link-to}}
