<img src="{{item.image}}">
<br>
<h2>{{item.name}}</h2>
<br>
<h3>${{item.price}}</h3>
<br>
<p>{{item.description}}</p>
<br>
<button class="btn btn-warning add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
