{{#link-to 'item' item.id}}
<div class="col-sm-4">
  <div class="item-tile-box">
    <img src={{item.image}}>
    <br>
    <h5>{{item.name}}</h5>
    <h5>${{item.price}}</h5>
  </div>
</div>
{{/link-to}}
