// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

// ember-cli-materialize styles
@import 'ember-cli-materialize';

.nav-wrapper {
  @extend .indigo, .lighten-2;
}

.navbar-brand {
  font-size: 24pt;
}

a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: 'Cabin', sans-serif;
}


.title {
  margin-top: 20px;
  text-align: center;
  @extend .amber, .darken-2;
  color: white;
  padding: 40px;
}

.splash-image {
  text-align: center;
  padding: 180px;
  background-image: url(/beer.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  opacity: 0.9;
  min-height: 920px;
  margin-bottom: 50px;
}

.item-category-link {
  background-color: lightgrey;
  text-align: center;
  padding: 40px;
  font-size: 20pt;
  opacity: 0.8;
  color: black;
}

.item-category-link:hover {
  opacity: 1;
  background-color: black;
  text-decoration: none;
  color: white;
}

.admin a {
  color: white;
}

.item-tile-box {
  margin-top: 20px;
  padding: 20px;
  h5 {
    text-align: center;
    margin-top: 20px;
    color: black;
  }
}

.item-tile-box img {
  width: 100%;
  height: 300px;
}

.item-category-title {
  margin-top: 40px;
  text-align: center;
}

.add-to-cart {
  margin-top: 10px;
}

.star-rating-selection {
  font-size: 14pt;
  color: black;
}

.star-rating-selection:hover {
  cursor: pointer;
  text-indent: 10px;
  color: #ff5722;
}

.selected-rating {
  color: #ff5722;
  text-indent: 10px;
}

.feedback-header {
  text-align: center;
}

.all-feedback-box {
  padding: 20px;
  margin-top: 20px;
  background-color: grey;
}

.feedback-box {
  margin-top: 20px;
  padding: 10px;
  background-color: lightgrey;
  height: 200px;
  font-size: 14pt;
  overflow: hidden;
}

.inline {
  display: inline;
}

.page-footer {
  @extend .indigo, .lighten-2;
}
