// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

// ember-cli-materialize styles
@import 'ember-cli-materialize';


body {
  font-family: 'Open Sans', sans-serif;
}

.right-cart {
  float: right;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px;
}

footer {
  bottom: 10px;
}

.splash-image {
  text-align: center;
  padding: 100px;
  background-color: lightblue;
  margin-top: 20px;
  font-size: 20pt;
}

.item-category-link {
  margin-top: 20px;
  background-color: lightgrey;
  text-align: center;
  padding: 40px;
  border-right: solid black 1px;
  font-size: 20pt;
}

.item-tile-box {
  margin-top: 20px;
  background-color: lightgrey;
  padding: 20px;
}

.item-tile-box img {
  width: 100%;
}

.add-to-cart {
  margin-top: 10px;
}

.star-rating-selection {
  font-size: 14pt;
  color: black;
}

.star-rating-selection:hover {
  cursor: pointer;
  text-indent: 10px;
  color: #ff5722;
}

.selected-rating {
  color: #ff5722;
  text-indent: 10px;
}

.feedback-header {
  text-align: center;
}

.all-feedback-box {
  padding: 20px;
  margin-top: 20px;
  background-color: grey;
}

.feedback-box {
  margin-top: 20px;
  padding: 10px;
  background-color: lightgrey;
  height: 200px;
  font-size: 14pt;
  overflow: hidden;
}
