<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class="anvbar-header">
      <a class='navbar-brand' href='#'><span class="glyphicon glyphicon-ice-lolly-tasted"></span>GG</a>
    </div>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'foods'}}Food{{/link-to}}</li>
      <li>{{#link-to 'index'}}Drinks{{/link-to}}</li>
      <li>{{#link-to 'index'}}Contact{{/link-to}}</li>
      <li>{{#link-to 'admin'}}Admin Access{{/link-to}}</li>
      <li>{{#link-to 'index'}}Shopping Cart{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class='container'>
  <div class="title">
    <h1>Gourmet Ghost</h1>
  </div>

  {{outlet}}
</div>

{{md-modal-container}}

<footer>
  <hr>
  test | test | test
</footer>
