<div class="splash-image z-depth-3">

  <div class="col-sm-1">
  </div>

  {{#link-to 'foods'}}
    <div class="col-sm-4 z-depth-3 item-category-link">
      BROWSE GOURMET FOODS
    </div>
  {{/link-to}}

  <div class="col-sm-2"></div>

  {{#link-to 'index'}}
    <div class="col-sm-4 z-depth-3 item-category-link">
      BROWSE GOURMET DRINKS
    </div>
  {{/link-to}}

  <div class="col-sm-1">
  </div>

</div>
