<div class="splash-image">
  <p>INSERT BIG SQUARE BANNER PICTURE THING HERE</p>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-5 item-category-link">
  {{#link-to 'index'}}BROWSE GOURMET FOODS{{/link-to}}
</div>

<div class="col-sm-5 item-category-link">
  {{#link-to 'index'}}BROWSE GOURMET DRINK{{/link-to}}
</div>

<div class="col-sm-1">
</div>
